
<!-- <div class="card">
	<div class="card-header">All Products</div>
	<div class="card-body">
		<table class="table table-sm table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Make-date</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of products">
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>{{product.price|currency:'INR'}}</td>
					<td>{{product.date|date:'dd-MM-yyyy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> 

-->
 
<!-- 
ng add @progress/kendo-angular-grid
npm install --save @progress/kendo-theme-default  
-->

<div *ngIf="products.length===0">-No Products-</div>
	

 <kendo-grid [data]="products">
 
 	  <ng-template kendoGridToolbarTemplate>
          <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
      </ng-template>	
      
      <kendo-grid-column field="id" title="ID" width="80">
      </kendo-grid-column>
      
      <kendo-grid-column title="Name" width="200">
      	<ng-template kendoGridCellTemplate  let-dataItem>
      		<a [routerLink]="['/all/view',dataItem.id]">{{dataItem.name}}</a>
      	</ng-template>
      </kendo-grid-column>
      
      <kendo-grid-column title="Price" width="100">
      	<ng-template kendoGridCellTemplate  let-dataItem>
      		{{dataItem.price|currency:'INR'}}
      	</ng-template>
      </kendo-grid-column>
      
      <kendo-grid-column title="Make-Date" width="100">
      	<ng-template kendoGridCellTemplate  let-dataItem>
      		{{dataItem.date|date:'yyyy-mm-dd'}}
      	</ng-template>
      </kendo-grid-column>
      
      <kendo-grid-column width="50">
      	<ng-template kendoGridCellTemplate  let-dataItem>
      		<a [routerLink]="['/all/edit',dataItem.id]"><i class="fa fa-edit"></i></a>
      	</ng-template>
      </kendo-grid-column>
      
      <kendo-grid-column width="50">
      	<ng-template kendoGridCellTemplate let-dataItem>
      		<a href (click)="deleteProduct(dataItem.id,$event)"><i class="fa fa-trash"></i></a>
      	</ng-template>
      </kendo-grid-column>
      
       <kendo-grid-pdf fileName="Products.pdf" [allPages]="true">
           <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm">
           </kendo-grid-pdf-margin>
       </kendo-grid-pdf>
      
</kendo-grid>
<hr/>

<router-outlet></router-outlet>
        
        
        
        