<button class="btn btn-sm btn-info" *ngIf="!isFormOpen" (click)="toggleForm()">
  <i class="fa fa-plus"></i>
</button>

<div class="row" *ngIf="isFormOpen">
  <div class="com-sm-6 col-md-6">
    <div class="card">
      <div class="card-header">Review Form</div>
      <div class="card-body">
        <form [formGroup]="reviewForm" (submit)="handleSubmit()">
          <div class="form-group"> 
            <label>stars</label>
            <select class=form-control formControlName="rating">
              <option *ngFor="let n of [1,2,3,4,5]" [value]="n">{{n}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>author</label>
            <input class="form-control" 
                   placeholder="" 
                   [ngClass]="{'is-invalid':reviewForm.get('author').invalid && reviewForm.get('author').touched}" 
                   formControlName="author" />
            <div class="invalid-feedback" *ngIf="reviewForm.get('author').touched">
              <span *ngIf="reviewForm.get('author').errors?.required">Field cannot be blank</span>
              <span *ngIf="reviewForm.get('author').errors?.email">Field must be valid email</span>
            </div>       
          </div>
          <div class="form-group">
            <label>body</label>
            <textarea class="form-control" formControlName="body"></textarea>
          </div>
          <button class="btn btn-dark btn-sm">submit</button>&nbsp;
          <button (click)="toggleForm()" type="button" class="btn btn-danger btn-sm">cancel</button>
        </form>
      </div>
    </div>
    <hr/> FormGroup
    <hr/>
    <pre>
      is pristine : {{reviewForm.pristine}} , is pristine : {{reviewForm.dirty}}<br/>
      is untouched: {{reviewForm.untouched}} , is touched  : {{reviewForm.touched}}<br/>
      is invalid  : {{reviewForm.invalid}} , is valid  : {{reviewForm.valid}}<br/>
    </pre>

    <hr/> FormControl e.g author
    <hr/>
    <pre>
      is pristine : {{reviewForm.get('author').pristine}} , is pristine : {{reviewForm.get('author').dirty}}<br/>
      is untouched: {{reviewForm.get('author').untouched}} , is touched  : {{reviewForm.get('author').touched}}<br/>
      is invalid  : {{reviewForm.get('author').invalid}} , is valid  : {{reviewForm.get('author').valid}}<br/>
    </pre>

  </div>
</div>